[Unit]
Description=seatable
After=docker.service
StartLimitIntervalSec=60
[Service]
Type=simple 
User=$USER
ExecStart=-/bin/bash -c "docker exec -d seatable /shared/seatable/scripts/seatable.sh start"

[Install]
WantedBy=multi-user.target